{% extends 'layouts.master' %}

{% block title %}{{ taxonomy.name }}{% endblock %}

{% from 'components.pager' import pager %}

{% block content %}
    <section class="bg-gray-100 text-black">
        <div class="section-narrow-layout">
            <div class="list-title">
                <span class="font-bold">
                    {{ taxonomy.name }}
                </span>
                の記事一覧
            </div>

            {% include 'components.contents' with {
                contents: contents
            } %}

            <div class="mt-8">
                {{ pager(
                    paginator,
                    share.request.uri.path,
                    share.request.query
                ) }}
            </div>
        </div>
    </section>
{% endblock %}
