/.phpunit.result.cache
/.php-cs-fixer.cache
/.php-cs-fixer.php
/phpunit.xml
/vendor
/docs
/.vscode
/.ssh
/.tools

/storage/logs/*
/storage/cache/*
/storage/public/*
/storage/dump/*
/storage/themes/*
/storage/access/*
/public/storage
/public/robots.txt
/.env
/setting.json

# for vite
/*.log
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

/node_modules

!.vscode/extensions.json
!.gitkeep
