{% extends 'layouts.master' %}

{% block title %}{{ share.meta.name }}について{% endblock %}

{% block content %}
    <section class="bg-gray-100 text-black">
        <div class="section-narrow-layout">
            <h1 class="text-2xl mb-8">About</h1>
            <div class="prose">
                <p>
                    このサイトは、IT技術者のための情報共有サイトです。<br/>
                    IT技術者の皆さんが、自分の知識や経験を共有することができます。<br/>
                    是非、皆さんの知識や経験を共有してください。
                </p>
            </div>
        </div>
    </section>
{% endblock %}
