{% extends 'layouts.master' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="bg-gray-100 text-black">
        <div class="section-narrow-layout">
            <h1 class="text-2xl mb-8">{{ title }}</h1>
            <div class="prose">
                <p>
                    {{ description }}
                </p>
            </div>
        </div>
    </section>
{% endblock %}
