{% extends 'layouts.plain' %}

{% block title %}メンテナンス中{% endblock %}

{% block content %}
    <section class="bg-gray-100 text-black">
        <div class="section-narrow-layout">
            <h1 class="text-2xl mb-8">メンテナンス中</h1>
            <div class="prose">
                <p>
                    サイトは現在メンテナンス中になっております。<br/>
                    しばらくお待ちください。
                </p>
            </div>
        </div>
    </section>
{% endblock %}
